# yaml-language-server: $schema=https://json.schemastore.org/clangd.json

CompileFlags:
  Compiler: brew_g++
  Add: [
    -std=c++17,
    -DLOCAL,
    -D_GLIBCXX_DEBUG,
    -D_GLIBCXX_SANITIZE_VECTOR,

    # diagnostic flags common to both GCC and Clang
    -pedantic,
    -Wall,
    -Wextra,
    -Wconversion,
    -Wshadow,
    -Wfloat-equal,
    -Wmisleading-indentation,
    -Wimplicit-fallthrough,
    -Wno-sign-conversion,
    -Wno-unused-const-variable,

    # GCC-only diagnostic flags
    -Wlogical-op,
    -Wduplicated-cond,
    -Wduplicated-branches,
    -Wuseless-cast,
  ]

Diagnostics:
  UnusedIncludes: None

InlayHints:
  BlockEnd: true
